* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: rgb(193, 38, 188);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

ul {
  text-decoration: none;
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover { 
  text-decoration: underline; 
}

.section-1 {
  background-color: rgb(193, 38, 188);
  color: #ffffff
}

img {
  max-width: 500px;
  height: auto;
}