* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: deeppink;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.title {
  display: flex;
  justify-self: center;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: ghostwhite;
  gap: 10px;
}

.section-1 {
  background-color: deeppink;
  color: ghostwhite;
}

img {
  max-width: 500px;
  height: auto;
}