* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #00ced1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px 115px;
}

ul {
  text-decoration: none;
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover { 
  text-decoration: underline; 
}

.section-1 {
  background-color: #00ced1;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 150px;
  padding-bottom: 15px;
  padding-top: 7px;
}

.section1-main {
  padding-left: 115px;
  width: 500px;
}

.sect1-img {
  max-width: 500px;
  height: auto;
  padding-left: 125px;
}

.big-text {
  font-size: 40px;
}

.small-text {
  font-size: 12px;
}

.go-drive {
  width: 90px;
  height: auto;
  color: #ffffff;
  background-color: #ff00ff;
  border-radius: 25px;
  padding: 5px;
}

.sect2-header {
  display: flex;
  justify-content: center;
}

.s2-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 63px;
}

.s2-img {
  height: 220px;
  width: 220px;
  border-radius: 25px;
}

.section-3 {
  background-color: #483d8b;
  color: #ffffff;
  text-align: center;
  padding-top: 143px;
  padding-bottom: 143px;
}

.quote {
  font-style: italic;
  font-size: 24px;
}

.author {
  padding-top: 60px;
  padding-left: 750px;
  font-size: 18px;
}

.section-4 {
  background-color: #ff00ff;
  margin: 78px 108px;
  display: flex;
  justify-content: space-around;
}

.action,
.purchase,
.go-shopping {
  color: #ffffff;
}

.action {
  padding-top: 28px;
  font-size: 18px;
}

.purchase {
  font-size: 11px;
  padding-bottom: 29px;
}

.go-shopping {
  width: 90px;
  height: 28px;
  border-radius: 25px;
  align-self: center;
  background-color: #ff00ff;
  border-color: #ffffff;
}

.footer {
  background-color: #00ced1;
  color: #ffffff;
  height: 80px;
  text-align: center;
}

.footer p {
  padding: 24px
}


html, body {
  margin: 0;
  padding: 0;
}
